@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

:root {
    --fs-orange: #FD5631;
}

body {
    width: 1100px;
    margin: 0 auto;
    font-family: 'GmarketSansMedium';
}

/* 행사 및 기획전 */
.category {
    display: block;
    color: var(--fs-orange);
}

/* '더 보러가기 */
.more {
    color: var(--fs-orange);
}
/* 행사 날짜 */
.event-date {
    /* font-size: 1.125rem; */
}

/* 날짜 아이콘 box*/
.icon-box {
    /* width: 10px;
    height: 10px; */
}

/* 예매하기 */
.btn.btn-primary.rounded-pill.px-5 {
    font-size: 1.25rem;
}